body {
    background-color: black;
    font-family: var(--font-dm-sans);
}

.Camada1 {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    /* Um valor so significa  que todos os lados sao do mesmo valor */
    padding: 12px;
}

.Navegacao-Camada {
    background-color: #121212;
    border-radius: 8px;
    /* Espaçamento do elemento em relação a ele mesmo, padding, em todas as direções, nossa ordem (Cima, Direita, Baixo, Esquerda) */
    padding: 16px 0 0 16px;
}

.Navegacao-Camada .logo {
    background: #121212;
    /* Deixar ele mais flexivel, alinhado em relação ao container */
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

/* a TAG IMG da logo, esse CSS é so para essa TAG */
.Navegacao-Camada .logo img {
    width: 80px;
}

.Camada1 nav ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.Camada1 nav ul li {
    /* Quando tem 2, o primeiro é cima e baixo, o segundo é esquerda e direita */
    padding: 10px 0;
}

.Camada1 nav ul li a {
    color: #b3b3b3;
    /* Para nao aparecer a bolinha no LI */
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.Biblioteca {
    background-color: #121212;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4px 8px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
}

.Biblioteca .Content_Biblioteca {
    display: flex;
    justify-content: space-between;
}

.Biblioteca_botao {
    display: flex;
    margin-right: 10px;
    color: #b3b3b3;
    background-color: transparent;
    border: 0px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
}

/* Todos os icones */
.fa {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
    padding-right: 8px;
}

/* Apenas o + */
.fa-plus {
    margin: 24px 10px;
}

.section-playlist {
    background-color: #242424;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0px;
    padding: 16px 20px;
    border-radius: 10px;
}

.section-playlist__conteudo {
    display: flex;
    flex-direction: column;    
}

.section-playlist__conteudo .text {
    padding-bottom: 14px;
    color: #fff;
}

.section-playlist__conteudo .title {
    font-weight: 700;
}

.section-playlist__conteudo .subtitle {
    font-weight: 500;
    font-size: 12px;
}

.section-playlist__conteudo .section-playlist__butao {
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    margin-top: 12px;
    border: 0px;
    width: 113px;
}

.Camada1 .Cookies {
    margin: 25px 20px;
}

.Cookies a {
    color: #b3b3b3;
    font-weight: 500;
    font-size: 10px;
    text-decoration: none;
}

/* Esse hover serve para trocar as configurações quando passar no mouse, nesse caso ele deixa sublinhado quando passa o mouse */
.Cookies a:hover {
    text-decoration: underline;
} 

.languagem__botao {
    align-items: center;
    background-color: transparent;
    border: 1px solid #878787;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    width: 200px;
    margin: 7px;
    padding: 9px;
    border-radius: 20px;
}

.Premium {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    /* Para fazer um fade horizontal, da esquerda para a direita com as seguintes cores citadas */
    background: linear-gradient(to right, #ae2896, #509bf5);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
}

.Premium .Texto {
   flex-shrink: 0;
}

.Titulo-Premium {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12x;
    margin-top: 5px;
    margin-bottom: 10px;
}

.Subtitulo-Premium {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}

.Botao-Premium {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    flex-shrink: 0;
}

